/* [
  "#69d2e7",
  "#a7dbd8",
  "#e0e4cc",
  "#f38630",
  "#fa6900"
] */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff4d6d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

img {
    width: 400px;
    border: #ff8fa3 5px solid;
}

h1 {
    font-family: 'Lobster', cursive;
}

h1, h2 {
    background: #ff8fa3;
    border-radius: 5px;
    display: inline;
    padding: 5px;
}

li {
    text-align: left;
}

a {
    color: #ffffff;
}

.place {
    margin-top: 50px;
    margin-bottom: 50px;
}

iframe {
    display: block;
    margin-top: 30px;
}